<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" routerLink="">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/users">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/details">Details</a>
        </li>



        <li class="nav-item">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
            Contact Us
          </button>          
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mx-3" type="submit">Search</button>
        <a class="nav-link active text-white mt-2 mx-3" aria-current="page" routerLink="/login">Login</a>
      </form>
    </div>
  </div>
</nav>

<div class="component-container">
  <!-- <app-users></app-users>
  <app-details></app-details>
  <app-login></app-login>
  <app-home></app-home>
  <app-contact></app-contact> -->
  
  <router-outlet></router-outlet>
</div>






<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body mx-auto">
<!--Section: Contact v.2-->
<section class="mb-4">

  <!--Section description-->
  <p class="text-center w-responsive fw-bold mb-5">Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

  <div class="row ms-5">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="https://formspree.io/f/mqknjeao"
          method="POST" method="POST">

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                  </div>
                  <input type="text" name="title" class="form-control" placeholder="Subject" aria-label="Subject" aria-describedby="basic-addon1">
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">With textarea</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                  </div>
              </div>
              <!--Grid row-->

          </form>
          <div class="status"></div>
      </div>
      <!--Grid column-->

     

  </div>

</section>
<!--Section: Contact v.2-->      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-success" onclick="document.getElementById('contact-form').submit();">Send</a>
      </div>
    </div>
  </div>
</div>
